.singl-card-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.singl-card-image-container{
  background-color:  rgb(100, 149, 237);
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 7px;
}

.singl-card-container h3{
  text-align: center;
}
.singl-card-details-container{
  width: 800px;
  display: flex;
  flex-direction: column;
}
.singl-card-details{
  display: flex;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
}

.singl-card-details p{
  margin: 5px;
}

.dropdwon-container >div{
    margin: 5px;
    width: 900px;
}
